.btn,
a.btn {
  background-color: #01996D;
  height: 50px;
  line-height: 50px;
  padding: 0 50px;
  /* padding: 13px 50px; */
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  border-radius: 4px;
  transition: opacity .2s ease;
}

.btn:hover,
a.btn:hover {
  color: #fff;
  opacity: .8;
}

.btn-big,
a.btn-big {
  min-height: 65px;
  line-height: 65px;
}