.product {
  padding-top: 120px;
  padding-bottom: 168px;
}


.product-row {
  display: flex;
  justify-content: space-between;
}

.product-img-wrapper {
  position: relative;
  margin-right: 87px;
  padding-left: 60px;
  padding-bottom: 74px;
}

.product-img {
  border-radius: 18px;
}

.product-content {
  max-width: 584px;
}



.product-content-title {
  font-family: 'Georgia', serif;
  color: #01996D;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  margin-bottom: 20px;
}

.product-content-subtitle {
  font-style: 600;
  font-size: 25px;
  line-height: 157%;
  margin-bottom: 10px;
}

.product-content-text {
  color: #484848;
  line-height: 144.5%;
  max-width: 530px;
}

.product-content-text+* {
  margin-top: 40px;
  ;
}

.product-content-btn {
  display: flex;
}

/* ==========card======= */
.product-card {
  position: absolute;
  left: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  font-size: 15px;
  box-shadow: 0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25);
  background-color: #FFFFFF;
  border-radius: 4px;
  width: 296px;

  color: #000000;
}


.card-title {
  position: relative;
  padding-bottom: 7px;
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 14.49px;
  line-height: 157%;
  /* or 23px */

  text-align: center;

  color: #000000;
}

.card-title::after {
  content: '';
  position: absolute;
  background: #000;
  height: 0.75px;
  left: 0;
  right: 0;
  bottom: 0;
}


.avatar {
  text-align: center;
}

.avatar-img {
  margin-bottom: 10px;
  width: 57px;
  height: 57px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-name {
  font-size: 12px;
}

.card-avatar {
  margin-bottom: 25px;
}

.card-contents {
  text-align: left;
  padding-left: 6px;
}

.card-contents-title {
  font-family: 'Georgia', serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 157%;
  margin-bottom: 22px;
}

.card ul {
  font-size: 10.62px;
  list-style-type: disc;
  list-style-position: inside;

}

.card ul li+li {
  margin-top: 20px;
}

/* ============media============ */
@media (max-width:1299px) {
  .product {
    padding-top: 80px;
  }

  .product-img-wrapper {
    flex: 1 0 auto;
    flex-basis: 50%;
  }

  .product-content-title {

    font-size: 40px;
    line-height: 130%;
    margin-bottom: 20px;
  }

  .product-card {
    bottom: -80px;

  }
}

@media (max-width:991px) {
  .product-content-subtitle {
    font-size: 30px;
  }

  .product-row {
    flex-direction: column-reverse;
  }

  .product-content-text+* {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .product-card {
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;
  }

  .product-img-wrapper {
    text-align: center;
    padding: 0;
    margin: 0;
  }


}

@media (max-width:535px) {
  .product-card {

    bottom: -140px;
  }
}